/* TODO Add site wide styles */
img {
    height: 100px;
    width: 100px;
}
button:hover {
    background-color: rgb(128, 128, 128, .8);
}

button {
    cursor: pointer;
    /* border: 1px solid black; */
    border-radius: 4px;
    font-weight: bold;
    padding: 5px;
    /* background-color: black;
    color: white */
    background-color: #5bc5a7;
    color: #fff;
    border: rgba(0, 0, 0, 0.8);
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* padding: 20px; */
    gap: 10px;
}
.sections {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.sidebar {
    width: 50%;
    box-sizing: border-box;
    background-color: rgb(245, 244, 244);
    /* border-radius: 15px; */
    padding: 20px;
    list-style: none;
}

.middle{
    width: 100%;
    margin-top: 0px;
    background-color: white;
    /* border-radius: 15px; */
    /* height: max-content;
    height: 100%; */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.expense-bar{
    display: inline-flex;
    justify-content: space-between;
    font-size: 24px;
}
.expense-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}
.side-bar-list {
    padding: 5px;
}

.side-bar-table {
    background-color: #cccccc;
    padding: 5px;
    border-radius: 4px;
}

.table-list {
    padding: 5px;
}
.table-list:hover {
    text-decoration: none;
    background-color: rgb(128, 128, 128, .8);
}
.table-list a {
    text-decoration: none;
}
body {
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 1275px) {
    body {
        width: 1275px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1023px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
}
.manage-friend-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid #cccccc;
}
.manage-friend-bar-container ul {
    list-style-type: none;
}
.tile-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid #cccccc;
}
